@font-face {
	font-family: 'Open Sans';
	font-style: regular;
	font-weight: 400;
	src: url('./../../dist/fonts/open-sans/open-sans-all-400-normal.woff') format('woff')
}

@font-face {
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 700;
	src: url('./../../dist/fonts/open-sans/open-sans-all-700-normal.woff') format('woff')
}